.container {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 5%);
    color: #CCCCCC;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.terminal {
    overflow-y: auto;
    height: 100%;
}

/** Scrollbar Styling **/
.terminal::-webkit-scrollbar {
    width: 2px;
}

.terminal::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-color: #5F5F5F;
    border-width: 1px;
}

.terminal::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 0%);
}