/** Container styling **/
.container {
  box-sizing: border-box;
  position: relative;

  padding: 1rem;

  background-color: hsl(0, 0%, 5%);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  color: #cccccc;

  font-family: monospace;
  font-size: 1.2rem;
}

/** Terminal styling **/
.terminal {
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;

  padding: 1rem;
  padding-right: 1.5rem;
}

/** Scrollbar Styling **/
.terminal::-webkit-scrollbar {
  width: 10px;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-color: #5f5f5f;
  border-width: 1px;
}

.terminal::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 0%);
}


@media (max-width: 600px) {
  .terminal {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .terminal {
    font-size: 0.7rem;
  }
}

@media (max-width: 450px) {
  .terminal {
    font-size: 0.5rem;
  }
}

@media (max-width: 350px) {
  .terminal {
    font-size: 0.3rem;
  }
}
