.viewer {
  position: absolute;
  z-index: 98;
  width: 99vw;
  height: 99vh;
  overflow: hidden;
  background-color: #808080;
}

.iframe {
  width: 100%;
  height: 100%;
}

.backButton {
  position: absolute;
  z-index: 99;
  right: 10vh;
  bottom: 3vw;
  width: max(10vw, 100px);
  height: max(6vh, 100px);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: min(4vw, 2em);
  background-color: #37da3d;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.backButton:hover {
  background-color: #45a049;
}

.backButton:active {
  background-color: #3e8e41;
}
